@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: white;
    background-image: 
        white;
    min-height: 100vh;
  }
}

@layer components {
  .custom-card {
    background: rgba(255, 255, 255, 0.455);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 32px;
    box-shadow: 0 2px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(4px);
  }
}
